<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Projekt Podstawy Automatyki</h1>
    <label for="name">Prędkość startowa</label>
    <input type="number" id="start" /> <br />
    <label for="name">Prędkość zadana</label>
    <input type="number" id="end" /> <br />
    <img src="aaa.png" alt="Plot" id="img" />
  </body>
  <script>
    const starting = document.querySelector("#start");
    const ending = document.querySelector("#end");
    const result = document.querySelector("#img");

    starting.addEventListener("change", (event) => {
      result.src = `img/${starting.value}/${ending.value}`;
    });
    ending.addEventListener("change", (event) => {
      result.src = `img/${starting.value}/${ending.value}`;
    });
  </script>
</html>